// Bootstrap - disabilita RFS
$enable-responsive-font-sizes: false;

// Import Bootstrap
@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';
@import '../bootstrap/scss/mixins';

$theme-colors: map-merge($theme-colors, (
      "primary-150": #ffdfc7,
      "primary-400": #f39569,
      "primary-500": #e6620a,
      "secondary-400": #c2dffa,
      "secondary-500": #0a8ee6,
      "secondary-600": #056aad,
      "secondary-900": #455a64,
      "tertiary-400": #b3e5ba,
      "tertiary-500": #08bb50,
      "neutral-50": #fefaf5,
      "neutral-100": #fef5ec,
      "neutral-200": #130901,
      "neutral-300": #81705f,
    ));

@import '../bootstrap/scss/bootstrap';

// Import variabili e mixin tuoi
@import './abstracts/variables.scss';
@import './abstracts/typography.scss';
@import './abstracts/mixin_buttons.scss';
@import './abstracts/mixin_text.scss';

@import './layout/header.scss';
@import './layout/base.scss';
@import './layout/footer.scss';
@import './layout/scrolling.scss';

@import './pages/home.scss';
@import './pages/about.scss';
@import './pages/contatto.scss';


//RESETS    
body {
  background-color: #{map-get($theme-colors, "neutral-100")};
  position: relative;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar{
  width: 22px;
}

::-webkit-scrollbar-thumb{
  background-color: #{map-get($theme-colors, "primary-500")};
  border: $border-200 solid #fef5ec ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #{map-get($theme-colors, "primary-400")};
  border: $border-200 solid #fef5ec ;
  border-radius: 10px;
}

@supports (scrollbar-color: red blue) {
  *{
    scrollbar-color:#{map-get($theme-colors, "primary-500")} #{map-get($theme-colors, "neutral-100")};
  }
}
