//CONTACT ME PAGE 


#cnt-main {

  #cnt-text {
    position: relative;
    margin-bottom: $space-500;

    @include media-breakpoint-up(md) {
      float: left;
      width: 45%;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    #cnt-info-pic {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      border: solid $border-100 map-get($theme-colors, "primary-500");
      margin-right: $space-200;

      #cnt-info-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    #cnt-info-text #normal-copy {
      margin-bottom: 8px;
    }

    #cnt-info-dx {
      margin-top: $space-200;

      @include media-breakpoint-only(sm) {
        margin-top: 0;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }

    #cnt-illustration {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -305px;
      width: 280px;
      height: auto;

      @include media-breakpoint-up(lg) {
        width: 327px;
        bottom: -350px;
      }
    }
  }

  #form-container {
    margin-bottom: $space-700;

    @include media-breakpoint-up(md) {
      float: right;
      width: 45%;
    }

    @include media-breakpoint-up(lg) {
      width: 40%;
    }

    form,
    fieldset,
    #field {
      display: flex;
      flex-direction: column;
    }

    form {
      width: 100%;

      #field {
        margin-bottom: $space-100;

        >label {
          margin-bottom: $space-25;
        }

        >input,
        textarea {
          padding: $space-100 $space-200;
          border: solid $border-50 map-get($theme-colors, "secondary-600");
          border-radius: $radius-500;
          resize: none;
          transition: all .3s ease-out;

          &:hover {
            border: solid $border-50 map-get($theme-colors, "secondary-500");
            background-color: #f9fbff;
          }
        }
      }

      #field:last-child {
        margin-bottom: 0;
      }

      #actions {
        margin-top: $space-500;

        #btn-primary-normal {
          @include btn-primary-normal(hsl(30, 92%, 55%));
          margin-top: $space-200;
          width: 100%;

          // @include media-breakpoint-up(sm) {
          //   margin-bottom: 0;
          //   margin-right: $space-500;
          //   width: auto;
          // }
        }

        #secondary-action {
          border: none;
          background-color: unset;

        }
      }
    }

  }
}