//navigazione
#header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #{map-get($theme-colors, "neutral-100")};
  border-bottom: solid $border-50 map-get($theme-colors, "primary-500");

  @include media-breakpoint-up(lg) {
    position: static;
  }
}


#header-content {
  position: relative;
  height: 88px;
  // border-top: solid $border-50 map-get($theme-colors, "primary-500");

  @include media-breakpoint-up(lg) {
    height: 112px;
  }

  #logo-img {
    float: left;
    position: absolute;
    left: $space-300;
    top: 20px;
    width: 100px;
    height: 45px;

    @include media-breakpoint-up(sm) {
      left: $space-700;
    }

    @include media-breakpoint-up(lg) {
      width: 143px;
      height: 65px;
      top: 22px;
    }
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    z-index: 1000;
  }

  #menu-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #{map-get($theme-colors, "neutral-100")};
    border-left: solid $border-200 map-get($theme-colors, "primary-500");
    padding-top: 100px;
    padding-right: 24px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-out;
    z-index: 1001;

    @include media-breakpoint-up(sm) {
      width: 40%;
      padding-right: 3rem;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    ul li {
      min-width: 0;
    }

    ul a {
      display: block;
      text-align: end;
      padding-block: 16px;
      text-decoration: none;
      color: #{map-get($theme-colors, "neutral-200")};
      transition: all .3s ease-out;
    }

    .menu_list_tag_selected {
      display: block;
      text-align: end;
      padding-block: 16px;
    }
  }

  ul a:hover {
    text-decoration-line: underline !important;
    text-decoration-color: #{map-get($theme-colors, "neutral-200")};
    text-decoration-style: solid !important;
    text-decoration-thickness: 3px !important;
    text-underline-offset: 6px !important;
  }

  .menu-icon {
    padding: 16px 10px;
    position: absolute;
    top: $space-300;
    right: 14px;
    position: relative;
    float: right;
    cursor: pointer;
    z-index: 9999;


    .nav-icon {
      background-color: #{map-get($theme-colors, "neutral-200")};
      display: block;
      width: 28px;
      height: 3px;
      position: relative;
      transition: background-color .3s ease-out;
    }

    .nav-icon::before,
    .nav-icon::after {
      background-color: #{map-get($theme-colors, "neutral-200")};
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      transition: all .3s ease-out;
      position: absolute;
    }

    .nav-icon::before {
      top: 8px
    }

    .nav-icon::after {
      top: -8px
    }

    @include media-breakpoint-up(sm) {
      right: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .menu-btn {
    display: none;
  }

  #menu-btn:checked~#menu-box {
    transform: scaleX(1);
  }

  #menu-btn:checked~.menu-icon {
    right: $space-300;

    @include media-breakpoint-up (sm) {
      right: 2.5rem;
    }
  }

  #menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
  }

  #menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  #menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  #menu-btn:checked~#overlay {
    opacity: 1;
    visibility: visible;
  }


  #menu-big {
    float: right;
    width: 60%;
    height: 112px;

    #menu-big-tags {
      width: 80%;
    }

    ul li {
      min-width: 0;
    }

    ul a {
      display: block;
      text-align: end;
      padding-block: 16px;
      text-decoration: none;
      color: #{map-get($theme-colors, "neutral-200")};
      transition: all .3s ease-out;
    }

    ul a:hover {
      text-decoration-line: underline !important;
      text-decoration-color: #{map-get($theme-colors, "neutral-200")};
      text-decoration-style: solid !important;
      text-decoration-thickness: 3px !important;
      text-underline-offset: 6px !important;
    }
  }
}

.menu_list_tag_selected {
  color: #{map-get($theme-colors, "secondary-600")} !important;
  text-decoration-line: underline;
  text-decoration-color: #{map-get($theme-colors, "secondary-600")};
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

body:has(#menu-btn:checked) {
  overflow: hidden;
}