// per pulsanti di size big
@mixin btn-primary-big($bg, $color: #{map-get($theme-colors, "neutral-200")}) {
  background-color: #{map-get($theme-colors, "primary-500")};
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 75px;
  line-height: 75px;
  padding: 0 $space-500;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-md;
  letter-spacing: 1px;
  text-transform: uppercase;
  will-change: transform;
  transition: transform .3s ease-out, background-color .3s ease-out;
  display: inline-block;

  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {
        background-color: #{map-get($theme-colors, "primary-400")};
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &:active {
      background-color: #{map-get($theme-colors, "primary-400")};
    }
  }
}

//pulsante primary footer
@mixin btn-primary-footer($bg, $color: #fff) {
  background-color: #{map-get($theme-colors, "secondary-600")};
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 75px;
  line-height: 75px;
  padding: 0 $space-500;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-md;
  letter-spacing: 1px;
  text-transform: uppercase;
  will-change: transform;
  transition: transform .3s ease-out, background-color .3s ease-out;
  display: inline-block;

  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {
        background-color: #{map-get($theme-colors, "secondary-500")};
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &:active {
      background-color: #{map-get($theme-colors, "secondary-500")};
    }
  }
}

// per pulsanti di size normal
@mixin btn-primary-normal($bg, $color: #{map-get($theme-colors, "neutral-200")}) {
  background-color: #{map-get($theme-colors, "primary-500")};
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 60px;
  line-height: 60px;
  padding: 0 $space-400;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-base;
  letter-spacing: 1px;
  text-transform: uppercase;
  will-change: transform;
  transition: transform .3s ease-out, background-color .3s ease-out;
  display: inline-block;

  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {
        background-color: #{map-get($theme-colors, "primary-400")};
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &:active {
      background-color: #{map-get($theme-colors, "primary-400")};
    }
  }
}

// per pulsanti di size normal con freccia
@mixin btn-primary-normal-arrow($bg, $color: #{map-get($theme-colors, "neutral-200")}) {
  background-color: transparent;
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 60px;
  line-height: 60px;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-base;
  letter-spacing: 1px;
  text-transform: uppercase;
  will-change: transform;
  display: inline-block;
  position: relative;
  overflow: hidden;

  #text-box,
  #arrow-box {
    background-color: #{map-get($theme-colors, "primary-500")};
    height: 60px;
    border-radius: $radius-500;
  }

  // box del testo
  #text-box {
    width: 100%;
    padding-left: $space-400;
    transition: all .3s ease-out;
  }

  // box della freccia
  #arrow-box {
    width: 75px;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      position: relative;
      right: $space-400;
      height: fit-content;
      width: fit-content;
      backface-visibility: hidden;
      will-change: transform;

      transition: transform .3s ease-out;
    }
  }

  // effetti sull'hover
  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {

        #text-box,
        #arrow-box {
          background-color: #{map-get($theme-colors, "primary-400")};
        }

        #text-box {
          width: calc(100% - 95px);
        }

        #arrow-box img {
          transform: translateX(12px);
        }
      }
    }
  }

  //effetti sull'active
  @include media-breakpoint-down(lg) {
    &:active {

      #text-box,
      #arrow-box {
        background-color: #{map-get($theme-colors, "primary-400")};
      }
    }
  }
}

// per pulsanti di size xl con freccia
@mixin btn-primary-xl-arrow($bg, $color: #{map-get($theme-colors, "neutral-200")}) {
  background-color: transparent;
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 100px;
  line-height: 30px;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-x;
  letter-spacing: 1px;
  text-transform: uppercase;
  will-change: transform;
  display: inline-block;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    height: 130px;
    font-size: $fs-xl;
    line-height: 48px;
  }

  @include media-breakpoint-up(md) {
    font-size: $fs-xxl;
  }

  #text-box,
  #arrow-box {
    background-color: #{map-get($theme-colors, "primary-500")};
    height: 100px;
    border-radius: $radius-500;

    @include media-breakpoint-up(sm) {
      height: 130px;
    }
  }

  // box del testo
  #text-box {
    width: 100%;
    padding-left: $space-200;
    transition: all .3s ease-out;

    @include media-breakpoint-up(sm) {
      padding-left: $space-400;
    }

    @include media-breakpoint-up(md) {
      padding-left: $space-600;
    }

    p {
      width: 68%;
      margin: 0;

      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }

  // box della freccia
  #arrow-box {
    width: 90px;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-up(sm) {
      width: 168px;
    }

    img {
      position: relative;

      right: $space-200;

      height: 23px;
      width: 61px;

      /* Ottimizzazione per Firefox */
      backface-visibility: hidden;
      will-change: transform;

      transition: transform .3s ease-out;

      @include media-breakpoint-up(sm) {
        height: 45px;
        width: 120px;
        right: $space-400;
      }

      @include media-breakpoint-up(md) {
        right: $space-600;
      }
    }
  }

  // effetti sull'hover
  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {

        #text-box,
        #arrow-box {
          background-color: #{map-get($theme-colors, "primary-400")};
        }

        #text-box {
          width: calc(100% - 220px);
        }

        #arrow-box img {
          transform: translateX(16px);
        }
      }
    }
  }

  //effetti sull'active
  @include media-breakpoint-down(lg) {
    &:active {

      #text-box,
      #arrow-box {
        background-color: #{map-get($theme-colors, "primary-400")};
      }
    }
  }
}

//per secondary-action
@mixin link-style($size,
  $family,
  $weight,
  $line-height,
  $ls,
  $transform,
  $color) {
  font-family: $family;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
  color: $color;
  will-change: transform;
  text-decoration-line: underline;
  text-decoration-color: #{map-get($theme-colors, "secondary-600")};
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  display: inline-block;
  transition: transform .3s ease-out, text-decoration-color .3s ease-out, color .3s ease-out;

  @if type-of($ls)==number {
    letter-spacing: #{$ls / 100}em;
  }

  @else {
    letter-spacing: $ls;
  }

  font-size: $size;

  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {
        text-decoration-color: #{map-get($theme-colors, "secondary-500")};
        color: #{map-get($theme-colors, "secondary-500")};
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &:active {
      text-decoration-color: #{map-get($theme-colors, "secondary-500")};
      color: #{map-get($theme-colors, "secondary-500")};
    }
  }
}

//per secondary-action-footer
@mixin link-style-footer($size,
  $family,
  $weight,
  $line-height,
  $ls,
  $transform,
  $color) {
  font-family: $family;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
  color: $color;
  will-change: transform;
  text-decoration-line: underline;
  text-decoration-color: #{map-get($theme-colors, "neutral-200")};
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  display: inline-block;
  transition: transform .3s ease-out, text-decoration-color .3s ease-out, color .3s ease-out;

  @if type-of($ls)==number {
    letter-spacing: #{$ls / 100}em;
  }

  @else {
    letter-spacing: $ls;
  }

  font-size: $size;

  @include media-breakpoint-up(lg) {
    @media (hover: hover) {
      &:hover {
        text-decoration-color: #{map-get($theme-colors, "neutral-300")};
        color: #{map-get($theme-colors, "neutral-300")};
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &:active {
      text-decoration-color: #{map-get($theme-colors, "neutral-300")};
      color: #{map-get($theme-colors, "neutral-300")};
    }
  }
}

// per pulsanti disabled di size normal
@mixin btn-primary-normal-disabled($bg, $color: #{map-get($theme-colors, "neutral-50")}) {
  background-color: #{map-get($theme-colors, "neutral-300")};
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 60px;
  line-height: 60px;
  padding: 0 $space-400;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-base;
  text-transform: uppercase;
  display: inline-block;
}

// cip per card disabled di size mobile
@mixin chip-card-disabled($bg, $color: #{map-get($theme-colors, "neutral-50")}) {
  background-color: #{map-get($theme-colors, "neutral-300")};
  color: $color;
  border: none;
  border-radius: $radius-500;
  height: 40px;
  line-height: 40px;
  padding: 0 $space-200;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: $fs-sm;
  text-transform: uppercase;
  display: inline-block;
}