//colori
$theme-colors: map-merge($theme-colors, (
      "primary-150": #ffdfc7,
      "primary-400": #f39569,
      "primary-500": #e6620a,
      "secondary-400": #c2dffa,
      "secondary-500": #0a8ee6,
      "secondary-600": #056aad,
      "secondary-900": #455a64,
      "tertiary-400": #b3e5ba,
      "tertiary-500": #08bb50,
      "neutral-50": #fefaf5,
      "neutral-100": #fef5ec,
      "neutral-200": #130901,
      "neutral-300": #81705f,
    ));

// Font families
$font-primary: 'Exo 2', sans-serif;

//Scale tipografiche
$fs-h1-min: 2rem;
$fs-h1-max: 2.75rem;

$fs-h2-min: 1.25rem;
$fs-h2-max: 1.75rem;

$fs-label-min: 1rem;
$fs-label-md: 1.125rem;
$fs-label-max: 1.5rem;


$fs-h3-min: 0.875rem;
$fs-h3-max: 1rem;

$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-md: 1.125rem;
$fs-lg: 1.25rem;
$fs-x: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 2.5rem;
$fs-xxxl: 4.25rem;
$fs-4xl: 6rem;

//weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

//borders
$border-50: 0.0625rem;
$border-100: 0.125rem;
$border-200: 0.1875rem;

//radius
$radius-500: 8px;
$radius-600: 20px;

//spacing
$space-25: 0.375rem;
$space-50: 0.5rem;
$space-100: 0.75rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 1.75rem;
$space-500: 2rem;
$space-600: 2.5rem;
$space-700: 3rem;
$space-800: 4.5rem;
$space-850: 5rem;
$space-900: 6.25rem;
$space-950: 9rem;